black~=25.1.0
csh_ldap @ git+https://github.com/ComputerScienceHouse/csh_ldap@2.5.0
flask==3.1.2
jinja2==3.1.6
flask-pyoidc==3.14.3
gunicorn==23.0.0
markupsafe==3.0.2
paramiko==4.0.0
proxmoxer==2.2.0
psutil==7.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0
redis==6.4.0
requests==2.32.5
rq==2.6.0
rq-dashboard==0.8.5
rq-scheduler==0.14.0
sqlalchemy==2.0.43
tenacity==9.1.2
websockify==0.13.0
pylint==3.3.8
sentry-sdk[rq]
sentry-sdk[flask]
sentry-sdk~=2.38.0
python-dotenv==1.1.1
