flask
flask_pyoidc
git+https://github.com/merinos/proxmoxer.git@python3#egg=bad01313d9f32a239882195325b21767a25f72e0
psycopg2-binary
sqlalchemy
python-dateutil
csh_ldap==2.0.1
rq
rq-scheduler==0.7.0
gunicorn
raven
paramiko
websockify
sshtunnel
psutil
requests
rq_dashboard
