<!doctype html>
<html lang="en">

<head>
    <title>Proxstar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#B0197E">
    <link rel="shortcut icon" href="https://assets.csh.rit.edu/uploads/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/circle.css">
    <script>
        (function (h, o, u, n, d) {
            h = h[d] = h[d] || { q: [], onReady: function (c) { h.q.push(c) } }
            d = o.createElement(u); d.async = 1; d.src = n
            n = o.getElementsByTagName(u)[0]; n.parentNode.insertBefore(d, n)
        })(window, document, 'script', 'https://www.datadoghq-browser-agent.com/datadog-rum.js', 'DD_RUM')
        DD_RUM.onReady(function () {
            DD_RUM.init({
                clientToken: '{{config["DD_CLIENT_TOKEN"]}}',
                applicationId: '{{config["DD_APP_ID"]}}',
                site: 'datadoghq.com',
                service: 'Proxstar',
                version: '{{config["GIT_REVISION"]}}',
                sampleRate: 100,
                trackInteractions: true,
            })
        })
    </script>
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
        <div class="container">
            <a class="navbar-brand abs" href="/">Proxstar</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    {% if user.active or user.rtp %}
                    <li class="nav-item navbar-user dropdown">
                        <a class="nav-link" href="/">
                            <i class="fas fa-th-list"></i>
                            VM List
                        </a>
                    </li>
                    <li class="nav-item navbar-user dropdown">
                        <a class="nav-link" href="/vm/create">
                            <i class="fas fa-plus-circle"></i>
                            Create VM
                        </a>
                    </li>
                    {% if user.rtp %}
                    <li class="nav-item navbar-user dropdown">
                        <a class="nav-link" href="/pools">
                            <i class="fas fa-user"></i>
                            User Pools
                        </a>
                    </li>
                    <li class="nav-item navbar-user dropdown">
                        <a class="nav-link" href="/rq">
                            <i class="fas fa-tachometer-alt"></i>
                            RQ Dashboard
                        </a>
                    </li>
                    <li class="nav-item navbar-user dropdown">
                        <a class="nav-link" href="/settings">
                            <i class="fas fa-cog"></i>
                            Settings
                        </a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item navbar-user dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user01">
                            <img src="https://profiles.csh.rit.edu/image/{{ user.name }}">
                            {{ user.name }}
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user01">
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <br>
        <div class="version">
            <a class="footer-version" href="https://github.com/ComputerScienceHouse/proxstar/tree/{{config["GIT_REVISION"]}}">Proxstar ({{config["GIT_REVISION"]}})</a>
        </div>
        </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"
        integrity="sha512-5x7t0fTAVo9dpfbp3WtE2N6bfipUwk7siViWncdDoSz2KwOqVC1N9fDxEOzk0vTThOua/mglfF8NO7uVDLRC8Q=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>
