{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        {% if user_view %}
        <div class="col-md-12 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <h5 class="card-title">{{ user_view.name }}</h5>
                </div>
            </div>
        </div>
        {% endif %}
        {% if not vms %}
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <p>It looks like you don't have any VMs! If you want to create a VM, click <a href="/vm/create">here</a>.</p>
                </div>
            </div>
        </div>
        {% elif vms == 'INACTIVE' %}
        <div class="col-md-12 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-body text-center">
                    <p>Only active members and current students have access to create Proxmox VMs. If you believe this is an error, please contact an RTP.</p>
                </div>
            </div>
        </div>
        {% else %}
            {% for vm in vms %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card bg-light mb-3">
                        <div class="card-body text-center">
                            {% if not vm.get('pending', False) %}
                            <a href="/vm/{{ vm['vmid'] }}">
                                <p>{{ vm['name'] }}</p>
                            </a>
                            {% else %}
                            <p>{{ vm['name'] }}</p>
                            {% endif %}
                            <p>Status: {{ vm['status'] }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
