{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Templates</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr role="row">
                                <th>Proxmox ID</th>
                                <th>Name</th>
                                <th>Disk Size (GB)</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for template in templates %}
                                <tr role="row">
                                    <td>{{ template['id'] }}</td>
                                    <td>{{ template['name'] }}</td>
                                    <td>{{ template['disk'] }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-info edit-template" data-template_id="{{ template['id'] }}" data-template_name="{{ template['name'] }}" data-template_disk="{{ template['disk'] }}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger delete-template" data-template_id="{{ template['id'] }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ignored Pools</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr role="row">
                                <th>Pool</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pool in ignored_pools %}
                                <tr role="row">
                                    <td class="col-md-9">{{ pool }}</td>
                                    <td class="col-md-3">
                                        <button class="btn btn-sm btn-danger delete-ignored-pool" data-pool="{{ pool }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="input-group">
                        <input type="text" class="form-control" id="pool">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-success add-ignored-pool" type="button">
                                <i class="fas fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Allowed Users</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr role="row">
                                <th>User</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for username in allowed_users %}
                                <tr role="row">
                                    <td class="col-md-9">{{ username }}</td>
                                    <td class="col-md-3">
                                        <button class="btn btn-sm btn-danger delete-allowed-user" data-user="{{ username }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="input-group">
                        <input type="text" class="form-control" id="user">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-success add-allowed-user" type="button">
                                <i class="fas fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
