{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-pull-3 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h3 class="card-title">Resources</h3>
                </div>
                <div class="card-body">
                    <ul class="nav nav-list">
                        <li class="nav-header">Boot Order</li>
                        <li>
                            {{ vm.boot_order['order']|selectattr('enabled')|map(attribute='device')|join(', ') }}
                            <button class="btn btn-default proxstar-vmbtn" id="edit-boot-order" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}" data-boot_order="{{ vm.boot_order_json }}">
                                <i class="fas fa-cog"></i>
                            </button>
                        </li>
                        <li class="nav-header">Interfaces</li>
                        {% for interface in vm.interfaces %}
                        <li>{{ interface[0] }}: {{ interface[2] }}
                        <button class="btn btn-danger proxstar-vmbtn delete-net" id="delete-net" name="delete" data-vmid="{{ vm.id }}" data-interface="{{ interface[0] }}">
                            <i class="fas fa-trash"></i>
                        </button>
			</li>
                        {% endfor %}
			<li>
			    <button class="btn btn-success proxstar-vmbtn" id="create-net" name="create" data-vmid="{{ vm.id }}">
				<i class="fas fa-plus"></i>
			    </button>
			</li>
			<li class="nav-header">Disks</li>
                        {% for disk in vm.disks %}
                        <li>
                            {{ disk[0] }}: {{ disk[1] }}GB
                            <button class="btn btn-default proxstar-vmbtn resize-disk" id="resize-disk" name="resize" data-vmid="{{ vm.id }}" data-disk="{{ disk[0] }}" data-usage="{{ usage['disk'] }}" data-limit="{{ limits['disk'] }}">
                                <i class="fas fa-cog"></i>
                            </button>
			    <button class="btn btn-danger proxstar-vmbtn delete-disk" id="delete-disk" name="delete" data-vmid="{{ vm.id }}" data-disk="{{ disk[0] }}">
				<i class="fas fa-trash"></i>
			    </button>
                        </li>
			<li>
			    <button class="btn btn-success proxstar-vmbtn" id="create-disk" name="create" data-vmid="{{ vm.id }}" data-usage="{{ usage['disk'] }}" data-limit="{{ limits['disk'] }}">
				<i class="fas fa-plus"></i>
			    </button>
			</li>
                        {% endfor %}
                        <li class="nav-header">ISO</li>
			{% for iso in vm.isos %}
			<li>
			    {{iso[0]}}: {{iso[1]}}
                            <button class="btn btn-default proxstar-vmbtn change-iso" id="change-iso" name="change" data-vmid="{{ vm.id }}" data-iso="{{ iso[0] }}">
                                <i class="fas fa-cog"></i>
                            </button>
                            {% if iso[1] != 'None' %}
                            <button class="btn btn-warning proxstar-vmbtn eject-iso" id="eject-iso" name="eject" data-vmid="{{ vm.id }}" data-iso="{{ iso[0] }}">
                                <i class="fas fa-eject"></i>
                            </button>
                            {% endif %}
			    <button class="btn btn-danger proxstar-vmbtn delete-iso" id="delete-iso" name="delete" data-vmid="{{ vm.id }}" data-iso="{{ iso[0] }}">
				<i class="fas fa-trash"></i>
			    </button>
                        </li>
			{% endfor %}
			<li>
			    <button class="btn btn-success proxstar-vmbtn" id="create-iso" name="create" data-vmid="{{ vm.id }}">
				<i class="fas fa-plus"></i>
			    </button>
			</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-3 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h3 class="card-title">VM Details</h3>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ vm.name }}</dd>
                        <dt>DNS Name</dt>
                        <dd>{{ vm.name }}.csh.rit.edu</dd>
                        <dt>ID</dt>
                        <dd>{{ vm.id }}</dd>
                        <dt>Status</dt>
                        <dd>{{ vm.qmpstatus }}</dd>
                        <dt>Node</dt>
                        <dd>{{ vm.node }}</dd>
                        <dt>Cores</dt>
                        <dd>
                            {{ vm.cpu }}
                            {% if vm.qmpstatus == 'running' or vm.qmpstatus == 'suspended' or vm.qmpstatus == 'paused' %}
                            <button class="btn btn-default proxstar-vmbtn" id="change-cores" data-vmid="{{ vm.id }}" data-usage="{{ usage['cpu'] - vm.cpu }}" data-limit="{{ limits['cpu'] }}">
                                <i class="fas fa-cog"></i>
                            </button>
                            {% else %}
                            <button class="btn btn-default proxstar-vmbtn" id="change-cores" data-vmid="{{ vm.id }}" data-usage=0 data-limit="{{ limits['cpu'] }}">
                                <i class="fas fa-cog"></i>
                            </button>
                            {% endif %}
                        </dd>
                        <dt>Memory</dt>
                        <dd>
                            {% if int(vm.mem) < 1024 %}
                            {{ vm.mem }}MB
                            {% else %}
                            {{ int(vm.mem) // 1024 }}GB
                            {% endif %}
                            {% if vm.qmpstatus == 'running' or vm.qmpstatus == 'suspended' or vm.qmpstatus == 'paused' %}
                            <button class="btn btn-default proxstar-vmbtn" id="change-mem" data-vmid="{{ vm.id }}" data-usage="{{ usage['mem'] - vm.config['memory'] // 1024 }}" data-limit="{{ limits['mem'] }}">
                                <i class="fas fa-cog"></i>
                            </button>
                            {% else %}
                            <button class="btn btn-default proxstar-vmbtn" id="change-mem" data-vmid="{{ vm.id }}" data-usage=0 data-limit="{{ limits['mem'] }}">
                                <i class="fas fa-cog"></i>
                            </button>
                            {% endif %}
                        </dd>
                        <dt>Expiration</dt>
                        <dd>
                            {{ vm.expire.strftime('%m/%d/%Y') }}
                            <button class="btn btn-success proxstar-vmbtn" id="renew-vm" name="renew" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">
                                <i class="fas fa-plus"></i>
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-push-9 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h3 class="card-title">Actions</h3>
                </div>
                <div class="card-body text-center">
                    {% if vm.qmpstatus == 'stopped' %}
                    {% if not usage_check %}
                    <button class="btn btn-success proxstar-actionbtn" id="start-vm" name="start" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">START</button>
                    {% else %}
                    Insufficient resources to start VM.
                    {% endif %}
                    {% endif %}
                    {% if vm.qmpstatus == 'suspended' or vm.qmpstatus == 'paused' %}
                    <button class="btn btn-success proxstar-actionbtn" id="resume-vm" name="resume" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">RESUME</button>
                    {% endif %}
                    {% if vm.qmpstatus == 'running' or vm.qmpstatus == 'suspended' or vm.qmpstatus == 'paused' %}
                    {% if vm.qmpstatus == 'running' %}
                    <button class="btn btn-success proxstar-actionbtn" id="console-vm" name="console" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">CONSOLE</button>
                    <button class="btn btn-info proxstar-actionbtn" id="suspend-vm" name="suspend" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">SUSPEND</button>
                    {% endif %}
                    <button class="btn btn-info proxstar-actionbtn" id="shutdown-vm" name="shutdown" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">SHUTDOWN</button>
                    <button class="btn btn-warning proxstar-actionbtn" id="stop-vm" name="stop" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">STOP</button>
                    <button class="btn btn-warning proxstar-actionbtn" id="reset-vm" name="reset" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">RESET</button>
                    {% endif %}
                    {% if vm.qmpstatus == 'stopped' %}
                    <button class="btn btn-danger proxstar-actionbtn" id="delete-vm" name="delete" data-vmid="{{ vm.id }}" data-vmname="{{ vm.name }}">DELETE</button>
                    {% else %}
                    To delete VM, power it off.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
