footer {
    text-align: center;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid black;
}

.content {
    padding-top: 20px;
}

.panel {
    text-align: center;
}

.panel-body {
    padding: 15px;
}

.panel p {
    line-height: 1.4;
    margin: 5px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel p a {
    font-weight: 500;
}

.form-control {
    width: 100%;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    text-align: right;
}

.dl-horizontal dd {
    margin-left: 180px;
    text-align: left;
}

.nav-list {
    text-align: left;
    display: block;
}

.nav-list .nav-header {
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    margin-left: -15px;
    margin-right: -15px;
}

.proxstar-actionbtn {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.proxstar-vmbtn {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0px 0px 0px;
    border-radius: 15px;
}

.proxstar-poolbtn {
    padding: 0;
    width: 55px;
    height: 25px;
    margin-top: 10px;
}

.resource-usage {
    margin: 0px auto;
}

.usage-limit {
    margin: 0px auto;
}

.user-img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.user-title {
    display: inline-block;
}

.progress {
    margin-top: 5px;
    margin-bottom: 0px;
    float: right;
    width: 80%;
    height: 12px;
}

.resource-bar {
    width: 100%;
    float: right;
    padding-bottom: 2px;
}

.swal-button {
  padding: 6px 16px;
  font-family: inherit;
  font-weight: normal;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.swal-button--confirm {
  background-color: #4caf50;
}

.swal-button--ok {
  background-color: #4caf50;
}

#show-for-template {
  display: none
}
