<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>

<a href="/proxstar/">VM List</a>

Create VM

<form action="get_create" method="post">
    <label for="name">VM Name</label>
    <input type="text" name="name">
    <label for="cores">Cores</label>
    <input type="text" name="cores">
    <label for="memory">Memory</label>
    <input type="text" name="memory">
    <label for="disk">Disk</label>
    <input type="text" name="disk">
    <input type="submit">
</form>

</body>
</html>
