{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Usage Limits</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped usage-limit">
                        <thead>
                            <tr role="row">
                                <th>Username</th>
                                <th>CPU</th>
                                <th>Memory</th>
                                <th>Disk</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_limit in user_limits %}
                            <tr role="row">
                                <td>{{ user_limit[0] }}</td>
                                <td>{{ user_limit[1] }}</td>
                                <td>{{ user_limit[2] }}</td>
                                <td>{{ user_limit[3] }}</td>
                                <td>
                                    <button class="btn btn-info proxstar-limitbtn edit-limit" data-user="{{ user_limit[0] }}" data-cpu="{{ user_limit[1] }}" data-mem="{{ user_limit[2] }}" data-disk="{{ user_limit[3] }}">EDIT</button>
                                    <button class="btn btn-danger proxstar-limitbtn reset-limit" data-user="{{ user_limit[0] }}">RESET</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
