{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        {% if not vms %}
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>It looks like you don't have any VMs! If you want to create a VM, click <a href="/vm/create">here</a>.</p>
                </div>
            </div>
        </div>
        {% else %}
            {% for vm in vms %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/vm/{{ vm['vmid'] }}">
                                <p>{{ vm['name'] }}</p>
                            </a>
                            <p>Status: {{ vm['status'] }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
